input,
button,
select,
textarea {
    font: inherit;
}

form {
    display: grid;
    gap: 1rem;
    margin-left: 3%;
    margin-right: 3%;

    @media (width > 729px) {
        grid-template-columns: 1fr 1fr;
    }
}

.form-group {
 display: grid;
}

label {
    text-transform: uppercase;
    font-size: 1rem;
}

input {
    background: var(--accent);
    color:      var(--text-1);
    border:     var(--border);
    padding:       1ex 2ex;

    /* width: 100%; */
}

input:not([type="checkbox"]):not([type="radio"]) {
    width: 100%;
}

/* You must use the :: selector here, 
   because 'placeholder' is a pseudo-element (virtual) */
input::placeholder {
  color: var(--placeholder);
}

.form-group:has(.fine-print) {
    grid-column: 1 / -1;
    /* background: red; */
    display: flex;
}

.form-group.selectBox {
    grid-column: 1 / -1;
    /* background: red; */
    display: flex;
    flex-direction: column;;
}

.selectBox {
    border-radius: 4px;
    border: solid hsl(229, 12%, 45%) 1px;
}

.selectBox > * {
    border-radius: 1px;
    border: solid white 1px;
    margin: 1%;
    padding: 1ex 2ex;
    
    &:hover,
    &:focus-visible {
        background-color: hsl(from var(--accent) h s 30%);
    }
}

input[type="radio"],
input[type="checkbox"] {
  /* This color persists as long as it's checked */
  accent-color: hsl(from var(--accent) h s 80%);
  background-color: blue;
}

/* general styling */
:root {
  --surface-0: hsl(229, 41%, 5%);
  --surface-1: hsl(229, 25%, 12%);
  --surface-2: hsl(234, 26%, 16%);
  --text-1: hsl(229, 12%, 100%);
  --text-2: hsl(229, 12%, 66%);
  --required: hsl(321, 32%, 56%);
  --accent: hsl(262, 84%, 52%);
  --border: 1px solid hsl(229, 22%, 19%);
  
  --placeholder: hsl(289, 66%, 64%);

}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Radio Canada", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;

  background-color: var(--surface-0);
  color: var(--text-1);

  padding-block-start: 10vb;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
  margin: 5%;
}

a {
  color: hsl(from var(--accent) h s 80%);
}

p {
    margin: 5%;
}

label {
  text-transform: uppercase;
  font-size: 1rem;
}

.fine-print {
  text-transform: revert;
  line-height: 1.4;
}

.contact-form {
  display: grid;
  gap: 1rem;

  background-color: var(--surface-1);
  padding: 3rem;
  border-radius: 24px;
  width: min(100% - 4rem, 1200px);
  margin-inline: auto;
}

button {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--text-1);
  padding: 1em 1.5em;
  border: 0;
  border-radius: 16px;

  &:hover,
  &:focus-visible {
    background-color: hsl(from var(--accent) h s 30%);
  }
}
